body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #fafafa;
}

header {
    background: #ff814d;
    padding: 20px;
    text-align: center;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a.ativo {
    text-decoration: underline;
}

section {
    padding: 30px;
}

h2 {
    color: #333;
}

.grid {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.cardProduto {
    background: white;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
    text-align: center;
}
.form-section {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 0 10px #ccc;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select, textarea, button {
    padding: 8px;
    margin-top: 5px;
}

input,
textarea,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    background-color: #ff914d;
    color: white;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #ff6f2d;
}


footer {
    background: #222;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 40px;
}
main {
    padding: 20px;
}